aiohttp
async-timeout
attrs
beautifulsoup4
blis
catalogue
certifi
cffi
chardet
click
colorzero
cymem
discord
discord.py
discord.py-Console
distro
distro-info
ffmpeg
google
humanfriendly
idna
langcodes
Markdown
MarkupSafe
multidict
murmurhash
numpy
olefile
packaging
pathy
pexpect
Pillow
preshed
prompt-toolkit
pycairo
pycparser
pydantic
Pygments
PyInquirer
PyNaCl
pyparsing
python-dotenv
PyYAML
regex
reportlab
six
smart-open
soupsieve
srsly
ssh-import-id
terminaltables
thinc
tqdm
typer
wasabi
wcwidth
yarl
youtube-dl