<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>nerd-bot</title>
</head>
<body> 
    
    <ul id="navbar">
    <li><a href="/"><img id="navimg" src="/static/discord-logo.png" alt="icon"></a></li>
    <li><a href="/" id="headertxt"><p id="headertxt">Nerd Bot</p></a></li>
    <li><a href="/info"><p id="headertxt">Info</p></a></li>
    <li><a href="https://github.com/random1748/Nerd-Bot/tree/main/nerd-bot"><p id="headertxt">Github</p></a></li>
    </ul>
    <h1 id="title">A Better Way To Use Discord</h1>
    <p id="undertitle">Configure moderation, leveling, and custom commands without the fuss</p>
    <p id="features">
        <br>
        React Roles, <br>
        Custom Commands, <br>
        Music Capibilities, <br>
        Level System, <br>
        And so much more<br>
    </p>
    <br>
    <br>
    <p id="srvrdiv" style="background-color: #6de26b; left: 45%; position: relative; transform: translate(-100%, -50%);"><a id="srvrlnk" href="https://discord.com/api/oauth2/authorize?client_id=832946537323167785&permissions=8&scope=bot" target="_blank">Add To Server</a></p>
    <p id="srvrdiv" style="background-color:lightgray; left: 55%; position: relative; transform: translate(-100%, -50%);"><a id="srvrlnk" href="/info" target="_blank">More Info</a></p>

    <div id="left"><a class="discord-widget" href="https://discord.com/invite/Cc3pCRHEbq" title="Join us on Discord">
        <img src="https://discordapp.com/api/guilds/884953799490408468/embed.png?style=banner3">
    </a></div>
</body>
</html>