<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/infostyle.css') }}">
        <title>nerd-bot</title>
    </head>
<body>
    <ul id="navbar">
        <li><a href="/"><img id="navimg" src="/static/discord-logo.png" alt="icon"></a></li>
        <li><a href="/" id="headertxt"><p id="headertxt">Nerd Bot</p></a></li>
        <li><a href="/info"><p id="headertxt">Info</p></a></li>
        <li><a href="https://github.com/random1748/Nerd-Bot/tree/main/nerd-bot"><p id="headertxt">Github</p></a></li>
        </ul>
        <h1 id="title">All Bot Functions</h1>
                    
            <p style="font-size: 40px;">Music Commands:</p>
            <p>clear      Purges queue</p>
            <p>leave      Leaves voice.</p>
            <p>nowplaying Embed of song</p>
            <p>pause      Pauses song.</p>
            <p>play       Pass song or query</p>
            <p>playlist   Pass in a playlist URL</p>
            <p>queue      Displays queue</p>
            <p>repeat     Repeats current song, once.</p>
            <p>repeat3    Repeat current song 3x.</p>
            <p>repeat5    Repeat current song 5x</p>
            <p>resume     Resume, if paused.</p>
            <p>skip       Skips current song</p>
            <p>join       if the bot says you need to be in a voice channel use this</p> 
            <br>
            <p style="font-size: 40px;">Basic Commands:</p>
            <p>wisdom     A nugget of wisdom</p>
            <p>choose     if you can't decide between two things, use this command</p>
            <p>cool       are you cool</p>
            <p>delete     deletes a specified amount of messages from a channel</p>
            <p>delrr      removes the role and emoji from react role list</p>
            <p>dm         dms a user from the bot</p>
            <p>help       Shows this message</p>
            <p>leave1     Second leave command if the first one doesnt work</p>
            <p>level      check your level</p>
            <p>newrc      adds a new role command</p>
            <p>newrr      allows a role to be assigned with an emoji</p>
            <p>newrrmsg   sets the message you react to to get roles</p>
            <p>pokeman    Generates a random pokemon</p>
            <p>poll       create a poll for important desicions</p>
            <p>r          repeats up to 29 times</p>
            
            <p>se         find top ten results on google for the message</p>
            <p>se1        finds one result on google for the message</p>
            <p>status     Changes the bots status</p>
            

        
</body>
</html>